<form class="dnd5e">
  {{#each types as |type|}}
  <div class="form-group">
    <label>{{localize type.label}}</label>
    <div class="form-fields">
      <input type="text" name="types.{{type.key}}.formula" value="{{type.formula}}" placeholder="1d2" {{#if autofocus}}autofocus{{/if}}>
      <label class="checkbox">
        <input type="checkbox" name="types.{{type.key}}.active" {{checked type.active}}>
        {{localize "MYTHACRI.CRAFTING.POPULATOR.Active"}}
      </label>
    </div>
  </div>
  {{/each}}
  {{#if hasOptions}}
  <div class="form-group">
    <div class="form-fields">
      <select class="type-select" {{#if focusOptions}}autofocus{{/if}}>
        {{selectOptions options localize=true blank="-"}}
      </select>
    </div>
  </div>
  {{/if}}
  <footer>
    <button type="submit">
      <i class="fa-solid fa-coins"></i> {{localize "Save"}}
    </button>
  </footer>
</form>
