<div class="standard-form">
  <h1>{{localize "MYTHACRI.CRAFTING.RUNE.Runes"}}: {{value}} / {{max}}</h1>

  {{#each bonuses}}
  <fieldset data-bonus-id="{{bonus.id}}">
    <label>
      {{name}}
      <a {{#unless (and ../atMax (not enabled))}} data-action="toggle" {{/unless}}>
        <i class="fa-solid fa-toggle-{{ifThen enabled 'on' 'off'}}"></i>
      </a>
    </label>
    <div class="notification">{{{text}}}</div>
  </fieldset>
  {{/each}}
</div>
