<div class="standard-form">

  <p class="hint">{{{localize "MYTHACRI.CRAFTING.RUNE.ConfigurationHint" value=runes.value max=runes.max}}}</p>

  {{#if overCapacity}}
  <p class="notification error">{{localize "MYTHACRI.CRAFTING.RUNE.Warning.OverCapacity"}}</p>
  {{/if}}

  {{#each bonuses}}
  <fieldset class="card" data-bonus-id="{{bonus.id}}">
    <legend>
      {{bonus.name}}
      <a {{#unless (and ../atMax bonus.disabled)}} data-action="toggle" {{/unless}}>
        <i class="fa-solid fa-toggle-{{ifThen bonus.disabled 'off' 'on'}}"></i>
      </a>
    </legend>
    <div class="notification">{{{text}}}</div>
  </fieldset>
  {{/each}}
</div>
