<div class="{{cssClass}}" data-uuid="{{recipe.uuid}}" data-action="show" data-name="{{target.name}}">
  <span class="label">{{recipe.name}}</span>
  <span class="basic">{{#if isBasic}}{{localize "MYTHACRI.ItemRecipeBasic"}}{{/if}}</span>
  <span class="target" data-tooltip="<section class='loading' data-uuid='{{target.uuid}}'><i class='fas fa-spinner fa-spin-pulse'></i></section>" data-tooltip-class="dnd5e2 dnd5e-tooltip item-tooltip" data-tooltip-direction="RIGHT">
    <img src="{{target.img}}">
  </span>
</div>
