<div class="{{cssClass}}" data-uuid="{{recipe.uuid}}" data-action="show" data-name="{{target.name}}">
  <span class="label">{{target.name}}</span>
  <span class="basic">{{#if isBasic}}{{localize "MYTHACRI.CRAFTING.SHEET.Basic"}}{{/if}}</span>
  <span class="target">
    <img src="{{target.img}}" data-tooltip="{{tooltip}}" data-tooltip-class="{{tooltipClass}}">
  </span>
</div>
