<div class="tab mythacri {{active}}" data-group="primary" data-tab="mythacri">

  <button type="button" class="cooking gold-button" data-action="cooking" {{#unless cooking}}disabled{{/unless}}>
    <i class="fa-solid fa-drumstick-bite"></i>
    <span class="label">{{localize "MYTHACRI.CRAFTING.COOKING.Title"}}</span>
  </button>

  <button type="button" class="rune gold-button" data-action="rune" {{#unless rune}}disabled{{/unless}}>
    <i class="fa-solid fa-gem"></i>
    <span class="label">{{localize "MYTHACRI.CRAFTING.RUNE.Title"}}</span>
  </button>

  <button type="button" class="spirit gold-button" data-action="spirit" {{#unless spirit}}disabled{{/unless}}>
    <i class="fa-solid fa-fire-flame-simple"></i>
    <span class="label">{{localize "MYTHACRI.CRAFTING.SPIRIT.Title"}}</span>
  </button>

  <button type="button" class="monster gold-button" data-action="monster" {{#unless monster}}disabled{{/unless}}>
    <i class="fa-solid fa-hand-fist"></i>
    <span class="label">{{localize "MYTHACRI.CRAFTING.MONSTER.Title"}}</span>
  </button>

  <button type="button" class="alchemy gold-button" data-action="alchemy" {{#unless alchemy}}disabled{{/unless}}>
    <i class="fa-solid fa-flask"></i>
    <span class="label">{{localize "MYTHACRI.CRAFTING.ALCHEMY.Title"}}</span>
  </button>

</div>
