<h2 class="name">{{recipe.item.name}}</h2>
<div>
  <div class="components">
    {{{recipe.labels}}}
  </div>
  <img class="image" src="{{recipe.item.img}}" data-tooltip="{{recipe.tooltip}}" data-tooltip-class="{{recipe.tooltipClass}}">
</div>
<button type="button" class="create" data-uuid="{{recipe.uuid}}">
  <i class="fa-solid fa-{{recipe.icon}}"></i>
  {{localize "MYTHACRI.CraftingCreate"}}
</button>
<div class="description">{{{recipe.text}}}</div>
