<div class="form-group">
  <label>{{localize "MYTHACRI.REST.LONG.FreeHeal"}}</label>
  <div class="form-fields">
    <button type="button" id="free-heal" {{disabled haveHealed}}>
      <i class="fa-solid fa-heart-circle-plus"></i> {{localize "MYTHACRI.REST.LONG.Heal"}}
    </button>
  </div>
</div>

<div class="form-group">
  <label>{{localize "DND5E.ShortRestSelect"}}</label>
  <div class="form-fields">
    <select name="hd">
      {{#select denomination}}
      {{#each availableHD as |num denom|}}
      <option value="{{denom}}">{{denom}} ({{num}} {{localize "DND5E.available"}})</option>
      {{/each}}
      {{/select}}
    </select>
    <button id="roll-hd" {{#unless canRoll}}disabled{{/unless}}>
      <i class="fa-solid fa-dice-d20"></i> {{localize "DND5E.Roll"}}
    </button>
  </div>
  {{#unless canRoll}}<p class="notes">{{localize "DND5E.ShortRestNoHD"}}</p>{{/unless}}
</div>
