<div class="form-group resource">
  <label>{{localize "MYTHACRI.ResourceLabelType"}}</label>
  <select name="flags.mythacri-scripts.resource.type" {{disabled disable}}>
    {{selectOptions typeOptions selected=type labelAttr="label" localize=true sort=true blank="-"}}
  </select>
</div>

{{#if hasSubtype}}
<div class="form-group resource">
  <label>{{localize subtypeLabel}}</label>
  <select name="flags.mythacri-scripts.resource.subtype" {{disabled disable}}>
    {{selectOptions subtypeOptions selected=subtype labelAttr="label" localize=true sort=true blank="-"}}
  </select>
</div>
{{/if}}

{{#if isMonster}}
<div class="form-group resource">
  <label>{{localize subsubtypeLabel}}</label>
  <select name="flags.mythacri-scripts.resource.subsubtype" {{disabled disable}}>
    {{selectOptions monsterPartOptions selected=subsubtype localize=true labelAttr="label" sort=true blank="-"}}
  </select>
</div>
{{/if}}

{{#if isEssence}}
<div class="form-group resource">
  <label>{{localize "MYTHACRI.ResourceEssenceGrade"}}</label>
  <select name="flags.mythacri-scripts.resource.grade" data-dtype="Number" {{disabled disable}}>
    {{selectOptions gradeOptions selected=grade}}
  </select>
</div>
{{/if}}
