<fieldset {{disabled disable}}>
  <legend>{{localize "MYTHACRI.CRAFTING.ResourceConfiguration"}}</legend>

  <div class="form-group resource">
    <label>{{localize "MYTHACRI.ResourceLabelType"}}</label>
    <div class="form-fields">
      <select name="flags.mythacri-scripts.resource.type">
        {{selectOptions typeOptions selected=type labelAttr="label" localize=true sort=true blank="-"}}
      </select>
    </div>
  </div>

  {{#if hasSubtype}}
  <div class="form-group resource">
    <label>{{localize subtypeLabel}}</label>
    <div class="form-fields">
      <select name="flags.mythacri-scripts.resource.subtype">
        {{selectOptions subtypeOptions selected=subtype labelAttr="label" localize=true sort=true blank="-"}}
      </select>
    </div>
  </div>
  {{/if}}

  {{#if isMonster}}
  <div class="form-group resource">
    <label>{{localize subsubtypeLabel}}</label>
    <div class="form-fields">
      <select name="flags.mythacri-scripts.resource.subsubtype">
        {{selectOptions monsterPartOptions selected=subsubtype localize=true labelAttr="label" sort=true blank="-"}}
      </select>
    </div>
  </div>
  {{/if}}

  {{#if isEssence}}
  <div class="form-group resource">
    <label>{{localize "MYTHACRI.ResourceEssenceGrade"}}</label>
    <div class="form-fields">
      <select name="flags.mythacri-scripts.resource.grade" data-dtype="Number">
        {{selectOptions gradeOptions selected=grade}}
      </select>
    </div>
  </div>
  {{/if}}
</fieldset>
