<fieldset>
  <legend>{{localize "MYTHACRI.CRAFTING.RuneConfiguration"}}</legend>
  <div class="form-group">
    <label>{{localize "MYTHACRI.CRAFTING.EnableRunes"}}</label>
    <div class="form-fields">
      <dnd5e-checkbox name="flags.mythacri-scripts.runes.enabled" {{checked enabled}}></dnd5e-checkbox>
    </div>
  </div>
  {{#if enabled}}
  <div class="form-group">
    <label>{{localize "MYTHACRI.CRAFTING.RunesMaximum"}}</label>
    <div class="form-fields">
      <input type="number" name="flags.mythacri-scripts.runes.max" value="{{max}}" placeholder="0">
    </div>
    <p class="hint">{{localize "MYTHACRI.CRAFTING.RunesMaximumHint"}}</p>
  </div>
  {{/if}}
</fieldset>
